{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<a href="{{ front_page }}" id="base-path" style="display: none;"></a>
<div id="page-wrapper">
  <div id="page" class="page" {{ page_css |raw }}>

  	{% if page.show_skins_menu %}
    {{ page.show_skins_menu |raw }}
 	{% endif %}

    {% if page.headline %}
      <section id="headline" class="headline">
        <div class="section container">
          {{ page.headline }}
        </div>
      </section>
    {% endif %}
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      <div class="section container">
		  <button id="mobile-menu-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#block-mainnavigation" aria-expanded="false">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		  </button>
        {{ page.secondary_menu }}
        {{ page.header }}
        {{ page.primary_menu }}

      </div>
    </header>
    {% if page.featured_top %}
      <div class="featured-top">
        <aside class="featured-top__inner section clearfix" role="complementary">
          {{ page.featured_top }}
        </aside>
      </div>
    {% endif %}
    {% if page.breadcrumb %}
        <div class="section-breadcrumb">
            <div class="container">
                {{ page.breadcrumb }}
            </div>
        </div>
    {% endif %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
      <div id="main" class="layout-main clearfix">
        <div class="container">
			<div class="row">
				{% if page.sidebar_first %}
					<div id="sidebar-first" class="column sidebar col-md-{{ sidebar_first_width }} col-sm-12">
						<aside class="section" role="complementary">
							{{ page.sidebar_first }}
						</aside>
					</div>
				{% endif %}

				<div class="col-md-{{ main_content_width }} col-sm-12">
					<div id="highlighted" class="highlighted">
						<div class="row" role="complementary">
							{% if page.highlighted_first %}
								<div class="panel-column page-highlighted-first col-md-4">
									{{ page.highlighted_first }}
								</div>
							{% endif %}
							{% if page.highlighted_second %}
								<div class="panel-column page-highlighted-second col-md-8">
									{{ page.highlighted_second }}
								</div>
							{% endif %}
							{% if page.highlighted_third %}
								<div class="panel-column page-highlighted-third col-md-4">
									{{ page.highlighted_third }}
								</div>
							{% endif %}
						</div>
					</div>
					{% if page.panel_first %}
						<div class="panel-top">
							<aside class="clearfix" role="complementary">
								{{ page.panel_first }}
							</aside>
						</div>
					{% endif %}
					<main id="content" class="column main-content" role="main">
						<section class="section">
							<a id="main-content" tabindex="-1"></a>
							{{ page.content }}
						</section>
					</main>
				</div>

				{% if page.sidebar_second %}
					<div id="sidebar-second" class="column sidebar col-md-{{ sidebar_second_width }} col-sm-12">
						<aside class="section" role="complementary">
							{{ page.sidebar_second }}
						</aside>
					</div>
				{% endif %}
			</div>
		</div>
      </div>
    </div>
    {% if page.panel_second or page.panel_third %}
		<div class="panel-bottom">
			<div class="container">
				{{ page.panel_second }}
			</div>
			{% if page.panel_third %}
				<div class="panel-third">
					<div class="container">
						{{ page.panel_third }}
					</div>
				</div>
			{% endif %}
		</div>
    {% endif %}
    <footer class="site-footer">
      <div class="container">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="site-footer__top">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
            {{ page.footer_fourth }}
          </div>
        {% endif %}
        {% if page.footer %}
          <div class="site-footer__bottom">
            {{ page.footer }}
          </div>
        {% endif %}
      </div>
    </footer>
    <a title="Back to Top" class="btn-btt" href="#Top"></a>
  </div>
</div>
